/* reset  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

.main_container {
  margin:  20px auto;
  width: 90vw;
  background-color: rgb(204, 204, 204);
}

.my_container {
  text-align: center;
}

.disp_img {
  margin: auto;
  width: 60%;
  display: block;
}